---
title: My Simple
description: Very simple notebook to show how Mercury works. Perfect for start.
author: Piotr
date: 2021-12-10
params:
    year:
        input: slider
        label: Select year
        min: 2010
        max: 2050
        value: 2021
    country:
        input: select
        value: Poland
        choices: [Poland, UK, USA, France]
        label: Select country
    var_range:
        input: range
        label: Select range
        
---

# Test (updated)

This is an example notebook

## No parameters

Right now there are now parameters, just run

In [16]:
import numpy as np
import pandas as pd 

df = pd.DataFrame(np.random.rand(100, 5), columns=["a", "b", "c", "d", "e"])

In [13]:
df

           a         b         c         d         e
0   0.255040  0.614577  0.163844  0.871512  0.982922
1   0.753082  0.737448  0.340134  0.060951  0.278219
2   0.251174  0.032595  0.491128  0.010542  0.740459
3   0.113220  0.213564  0.170346  0.750587  0.900230
4   0.303466  0.733240  0.708607  0.957383  0.058355
..       ...       ...       ...       ...       ...
95  0.717280  0.138960  0.900601  0.053225  0.286964
96  0.414760  0.738950  0.118290  0.740507  0.157526
97  0.505411  0.163696  0.942054  0.558562  0.685508
98  0.990946  0.990682  0.367041  0.112801  0.537230
99  0.359366  0.943180  0.696210  0.957429  0.306914

[100 rows x 5 columns]

In [ ]:
from matplotlib import pyplot as plt

In [3]:
a = 2

In [4]:
print(a)

2

In [1]:
plt.plot([1,2,3])

NameError: name 'plt' is not defined